<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul style="background-image:url(14484883_1127669997317730_5313462470348272071_n.jpg)">
<li><a style="font-size:20px" href="/about">Ruslan Mukhamadiarov</a></li>padding: 5px;
<li><a style="font-size:20px" href="/about">About</a></li>
<li><a style="font-size:20px" href="/research">Research</a></li>
<li><a style="font-size:20px" href="/CV">CV</a></li>
<li><a style="font-size:20px" href="/publications">Publications</a></li>
<li><a style="font-size:20px" href="/talks">Talks</a></li>
<li><a style="font-size:20px" href="/photos">Photos</a></li>
<li><a style="font-size:20px" href="/photos">Contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:mruslani@vt.edu">email</a></li>
   <li><a href="https://github.com/RusFortunat">Github profile</a></li>
   </ul>
  </footer>
  </body>

</html>
